mixin select-tree(records, level = 1, current_id = "")
  each item in records
    - const prefix = Array(level + 1).join("-- ")
      //- lúc đầu Array(1 +1) thì một mảng gồm 2 phần tử undefine xong join lại thì ra --
    option(
      value=item.id
      selected=(item.id == current_id ? true : false)
    ) #{prefix}#{item.title}
    if(item.children && item.children.length > 0)
      +select-tree(item.children, level + 1, current_id)
      //- nếu có phần tử con thì gọi đệ quy level + 1 xong join tiếp tục