extends ../../layouts/default 
block main
   .container
    .row
      .col-4
        h4(class="text-contact mb-3") LIÊN HỆ
        h5 #{generalSetting.websiteName}
        p <i class="fa fa-home"></i> #{generalSetting.address}
        p <i class="fa fa-phone" aria-hidden="true"></i> #{generalSetting.phone}
        p <i class="fa fa-envelope" aria-hidden="true"></i> #{generalSetting.email}